<% include partials/header %>



<form action="/review" method="post">
  <div>
    <label>Create a new review:</label>
    <!-- <input type="text" name="review"/> -->
    <ul>
      <li>Location: <%= swimming_hole.location %></li>
      <li>Hours: <%= swimming_hole.hours %></li>
      <li>Pet Friendly: <%= swimming_hole.petFriendly %></li>
      <li>Food and Beverage Allowed: <%= swimming_hole.foodBeverage %></li>
      <li>Price: <%= swimming_hole.price %></li>
    </ul>
  </div>
  <div>
    <textarea name="review" placeholder="Write a review"></textarea>
  </div>
  <div>
    <input type="submit" value="Add Review!"/>
  </div>
</form>



<% include partials/footer %>
