<% include partials/header %>
<% if (message) { %>
  <p><%= message %></p>
<% } %>
<h1><%= swimming_hole.name %></h1>
  <div>
    <ul>
      <li><%= swimming_hole.location %></li>
      <li><%= swimming_hole.hours %></li>
      <li><%= swimming_hole.petFriendly %></li>
      <li><%= swimming_hole.foodBeverage %></li>
      <li><%= swimming_hole.price %></li>
    </ul>
  <div>
  <div>
    <%= swimming_hole.image_url %>
  </div>
  <div>
    <p><%= swimming_hole.summary %></p>
  <div>
<% include partials/footer %>
