<% include partials/header %>

<h1 class="holeName"><%= swimmingHole.name %></h1>
  <section class="infoSection">
    <div class="specificInformation">
      <ul class="information">
        <li>Location: <%= swimmingHole.location %></li>
        <li>Hours: <%= swimmingHole.hours %></li>
        <li>Pet Friendly: <%= swimmingHole.petFriendly %></li>
        <li>Food and Beverage Allowed: <%= swimmingHole.foodBeverage %></li>
        <li>Price: <%= swimmingHole.price %></li>
      </ul>
    </div>
    <div class= "specificImage">
      <img src="<%= swimmingHole.imageUrl %>" alt="Picture of <%= swimmingHole.name %>">
    </div>
  </section>
  <section>
    <div class="summary">
      <p><%= swimmingHole.summary %></p>
    </div>
    <div class="reviews">
      <h2> Reviews </h2>
    </div>
    <div class="reviewArrow">
      <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
    </div>
  </section>

    <form action="/swimming_holes/<%= swimmingHole._id %>/reviews" method="post">
      <div>
        <label id="holeLabel">Create a new review:</label>
        <input id="holeInput" type="text" name="review" id="textArea"/>
      </div>
      <div class="holeButton">
        <input type="submit" value="Add Review!"/>
      </div>
    </form>


    <div class="userReviews">
      <% reviews.forEach(function(review) { %>
        <p><%= review.review %>
          <form action="/swimming_holes/<%= swimmingHole._id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete this review!">
          </form>
        </p>
      <% }) %>
    </div>
<% include partials/footer %>
